.grid-container {
  display: grid;
  grid-template-columns: auto;
}

h1 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
p {
  margin: 0 auto;
}
.homework-one,
.homework-two,
.homework-three {
  border: 1px solid black;
  padding: 0.3rem;
  text-align: center;
}

#js-img,
.sticker-container,
.select-container {
  margin-top: 01rem;
}
#js-img {
  border: 2px solid transparent;
}
.homework-two-area {
  display: flex;
  justify-content: space-around;
}

.sticker-container {
  display: flex;
  flex-direction: column;
  background-color: wheat;
  border: 1px solid black;
  padding: 2rem;
  align-items: center;
}

.sticker-container img {
  width: 3rem;
}

input {
  width: 3rem;
}

button {
  margin-top: 0.5rem;
}

#result,
#pass-result {
  height: 1rem;
  margin: 0.8rem auto;
}

@media (min-width: 576px) {
  .grid-container {
    grid-template-columns: auto auto;
  }
}
